header.header{
    overflow: hidden;
    white-space: nowrap;
    background-color: #ffffff;
    box-shadow: var(--shadow);
}

header.header h1{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.8em;
}

header.header p{
    color: #cccccc;
    margin-top: 5px;
    margin-left: 50px;
    font-weight: bold;
    font-style: italic;
}

@media only screen and (max-width: 480px) {
    .header {
        display: none;
    }
}